<div class="row g-2 mb-2">
    <div>
      <ol>
      {% for item in site.data.publications.conference %}
        <li><p>
          <a>{{ item.Authors_before }}</a>
          <a><strong>{{item.Me}}</strong></a>
          <a>{{ item.Authors_after }}.</a>
          <a>{{item.Title}}.</a>
          <a> <strong>{{item.Journal}}</strong>. {{item.Loc}}. </a>
          {%if {item.PMID} %}
          <a href="https://pubmed.ncbi.nlm.nih.gov/{{item.PMID}}/" target="_blank" > PMID: {{item.PMID}},   </a>
          {% endif %}
          {%if {item.DOI} %}
          <a href = "https://doi.org/{{item.DOI}}" target="_blank"> DOI: {{item.DOI}}</a>
          {% endif %}
        </p></li>
      {% endfor %}
      </ol>
    </div>
  </div>