<!---
<div class="row g-5 mb-5">
  <div>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <p></p>
        <h4>{{ contact.name }}</h4>
        <p>{{ contact.title }} | {{ contact.department }}</p>
        <p>{{ contact.institution }}</p>
        <p>Phone: {{ contact.phone }}</p>
        <p>Email: {{ contact.email }}</p>
        <p>Office: {{ contact.office }}</p>
      </div>
      <div class="col-md-6">
        <img src="/{{ contact.image }}" alt="Contact" width="50%" align="right">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
-->